.border-box,
.border-box:before,
.border-box:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.display-flex {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background: transparent;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .8em;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  letter-spacing: 0.035em;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.empty {
  height: 48px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
p {
  padding: 0;
  margin: 0;
}
a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #ba212e;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button {
  background-color: transparent;
  border: none;
}
input:focus,
button:focus,
form:focus,
a:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
.page {
  width: 100%;
  margin: auto;
  position: relative;
}
.header {
  padding: 1em 1.5em;
  border-bottom: 1px solid #e7e7e7;
}
.header__logo {
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
  margin: auto;
  font-weight: 600;
}
.logo__red {
  color: #ba212e;
}
.poll {
  position: relative;
}
.poll__title {
  text-align: center;
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
}
.poll__description {
  text-align: center;
  margin: auto;
  width: 30%;
  padding: 1em;
  background-color: rgba(230, 230, 230, 0.25);
  letter-spacing: 0.075em;
}
.timer {
  font-family: 'Inconsolata', 'Lucida Console', monospace;
  background-color: #ba212e;
  color: #ffffff;
  display: inline-block;
  padding: 0 .2em;
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 99999;
}
.timer__element {
  display: inline-block;
  padding: .5em;
  text-align: center;
}
.timer__number,
.timer__txt {
  display: block;
}
.footer {
  border-top: 1px solid #e7e7e7;
  font-family: 'Inconsolata', 'Lucida Console', monospace;
  font-size: 1.2em;
  height: 4em;
  margin-top: -4em;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__info {
  text-align: center;
  background-color: #ba212e;
  color: #ffffff;
  padding: .15em .4em .22em;
  line-height: 1em;
}
